/*-------------------- GENERAL CLASSES --------------------*/

.ang-spinner {
  display: $Block;
  margin: 25px auto;
}

.ang-bold-title {
  font-weight: $Bold;
}

.ang-filter-select {
  padding: 0;
}
